
  
  <div class="toolbar" role="banner">
    <img
      width="60"
      alt="IBM Logo"
      src="assets/img/IBM.png"   
       />
    <span>System Management Database</span>

    <button mat-button class="home-button" color="basic" (click)="routeToHome()">Home</button> 

    <button mat-button class="logout-button" *ngIf="hardcodedAuthenticationService.isUserLoggedIn()" color="basic" >Logout</button> 

    
        <button mat-mini-fab  color="basic" (click)="routeToLogin()"  *ngIf="!hardcodedAuthenticationService.isUserLoggedIn()" class="mat-fab-button">
        <mat-icon>account_circle</mat-icon>
        </button>
    
  </div> 
  
