<mat-toolbar class="mat-footer">
     
    <mat-toolbar-row class="mat-footer-content">
      <span class="footer-content">Contact IBM</span>
      <span class="footer-content">Privacy</span>
      <span class="footer-content">Terms of Use</span>
      <span class="footer-content">Accessibility</span>
      <span class="example-spacer"></span>
      <span class="example-spacer"></span>
      <img
      width="70"
      height="60"
      alt="IBM Logo"
      src="assets/img/IBM.png"/>
    </mat-toolbar-row>
<!-- <mat-toolbar-row>
    <span>Vinay</span>
</mat-toolbar-row> -->
    </mat-toolbar>