.example-icon {
    padding: 0 14px;
  }
  .example-spacer {
    flex: 1 1 auto;
  }

  .mat-footer{
    margin-top: 50px;
    position: absolute;
    background-color: black;
    color: white;
    height: 80px;
    
    
  }

  .mat-footer-content{
      margin-top: 0;
      margin-bottom: 0;
  }
  .footer-content{
      padding: 30px;
  }