
<app-header></app-header>
<br>
<br>
<br>

<div>
 <mat-card>
     <h3>
        The Systems Management Database tool is used for flagging requests or issues encountered which requires the support of the Systems Solutions Team except for STC eTools.
     </h3>
    </mat-card> 
</div>

    <div class="container">
        <div class="flex-container" fxLayout="row" >
            <mat-card class="example-card1">
                <mat-card-header>
                    <div mat-card-avatar class="create-header-image"></div>
                    <mat-card-title>Create Request</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                       This section contains form page which is used to create request for Systm Management Database
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary" (click)="createRequestForm()">Create</button>
                    
                </mat-card-actions>
            </mat-card>
            <mat-card class="example-card2">
                <mat-card-header>
                    <div mat-card-avatar class="view-header-image"></div>
                    <mat-card-title>View Request</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        View Page gives all the requests created in System Management Database.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary">View</button>
                    
                </mat-card-actions>
            </mat-card>
            <mat-card class="example-card3">
                <mat-card-header>
                    <div mat-card-avatar class="help-image">  <img
                        width="30"
                        height="30"
                        alt="help Logo"
                        src="assets/img/help.png"   
                         /></div>
                  
                    <mat-card-title>Help</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        Help Page gives complete information on Usage of System Management Database
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary">Help</button>
                    
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
