<!-- <app-header></app-header> -->

<div fxLayoutAlign="center center" fxFlexFill>
  <mat-card fxFlex="30">
   
    <form fxLayoutAlign="stretch" fxLayout="column">
      <h1 mat-card-title>Login</h1>
      <h3 *ngIf='invalidLogin'>{{errorMessage}}</h3>
      <mat-form-field >
          <input matInput placeholder="username"  name="username" [(ngModel)]="username">
     </mat-form-field>
    
     <mat-form-field >
      <input matInput type ="password" placeholder="password"  name="password" [(ngModel)]="password">
 </mat-form-field>
 <div mat-dialog-actions align="end">

	<button mat-raised-button (click)="handleLogin()" color ="black" cdkFocusInitial>submit</button>
</div>
<div>
	<p>Not a registered user? <br>
		<button mat-raised-button (click)="redirectSignup()" color="warn">SignUp</button>
	</p>
</div>
      </form>
  </mat-card>
</div>


